<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <section>
      <div id="contact">
        <h2>A propos du site</h2>
        <h3>Ce site a été réalisé avec : </h3>
        <ul class="list-unstyled">
          <li>AngularJS 1</li>
          <li>NodeJS</li>
          <li>Express</li>
          <li>MongoDB</li>
          <li>Bootstrap</li>
          <li>Sass</li>
          <li>JQuery</li>
        </ul>
        <h3>Mes coordonnées : </h3>


        <ul class="list-unstyled">
          <li>Albert Oudompheng</li>
          <li>06 50 52 15 36</li>
          <li><a href="mailto:tossanmusic@gmail.com" class="link">Tossanmusic@gmail.com</a></li>

          <li><a href="https://github.com/IamTossan" target="_blank" class="link">GitHub</a></li>
          <li><a href="http://iamtossan.co.nf/" target="_blank" class="btn btn-default">Site Perso</a></li>
        </ul>


      </div>
    </section>


  </div>
</div>

<script src="assets/js/script.js"></script>
